@tailwind base;
@tailwind components;
@tailwind utilities;

.header-container {
  display: flex;
  align-items: center; /* Align items vertically in the center */
}

.header-logo {
  margin-right: 10px; /* Adjust margin as needed */
  width: 50px; /* Adjust width as needed */
  height: auto; /* Maintain aspect ratio */
}

body {
  background-color: #121212;
}